<!-- <p>course-enrollement works!</p>
<iframe width="990" height="557" src="https://www.youtube.com/embed/hTt-Je4PKmI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->


<div class="container">
    <div class="main-content">
      <p>course-enrollment works!</p>
      <iframe
        width="990"
        height="557"
        [src]="contentURL"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
    </div>
    <app-course-contents></app-course-contents>
    </div>
  