<div class="wrapper" [ngStyle]="{'background-image': 'url(\'/assets/images/Register/bg-registration-form-2.jpg\')'}">
  <div class="inner">
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <h3>Registration Form</h3>
      
      <div class="form-wrapper">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="username" [(ngModel)]="userData.userName"
          required minlength="3" #userName="ngModel">
        <div *ngIf="userName.invalid && userName.touched" class="form-text text-danger">
          <span *ngIf="userName.errors?.['required']">This field is required</span>
          <span *ngIf="userName.errors?.['minlength']">Min length is 3</span>
        </div>
      </div>
          <div class="form-wrapper">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userData.email" required #email="ngModel">

              @if(email.invalid && email.touched){
                <div id="titleHelp" class="form-text text-danger">
                  @if(email.errors?.['required']){
                  <span>This field is required</span>
                  }
                </div>
              }

          </div>
          <div class="form-wrapper">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="userData.password"
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}"
            #password="ngModel"
            >
            @if(password.invalid && password.touched){
              <div id="titleHelp" class="form-text text-danger">
                @if(password.errors?.['required']){
                <span>This field is required</span>
                } @if(password.errors?.['pattern']){
                <span>Password must contain at least one digit, one lowercase letter, one uppercase letter, one special character, and be at least 8 characters long</span>
                }
              </div>
            }


        </div>
        <div id="titleHelp" class="form-text text-danger">
        @if( errorMessage){
          <span>Invalid username or password</span>
        }
        </div>
       
          <div class="form-wrapper">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" [(ngModel)]="userData.address" required>
        </div>
          
        <button type="submit" [disabled]="registerForm.invalid">Register Now</button>
      </form>
      <div class="background-image"></div>
  </div>
</div>
